body {
  background-image: url('https://raw.githubusercontent.com/aadityadeshmukh/odin-project-calculator/045c52b4ba23f7b7721d45e1f5adeb8a9ea150e7/blob-scene-haikei.svg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parentGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid:
    'mainGrid' 500px
    / 320px;
  grid-gap: 16px;
  justify-content: center;
  align-content: center;
}
.main-container {
  grid-area: mainGrid;
  /* border: 1px solid black; */
  padding: 20px;

  display: grid;
  grid:
    'screen' 0.5fr
    'clrBtns' 0.25fr
    'numPad' 1.25fr
    / 100%;
  grid-gap: 4px;
  justify-content: center;
  align-content: center;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.screen {
  grid-area: screen;
  /* width: 100%;
  height: 30%; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  margin: 2px;
  /* border-radius: 5px; */
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;
  display: grid;
  align-content: center;

  background: rgba(74, 144, 226, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#screen-content {
  max-width: 250px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: white;
}
.clrBtns {
  grid-area: clrBtns;
  /* width: 100%;
  height: 10%; */
  margin: 2px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 16px;
  justify-content: center;
}
.numPad {
  grid-area: numPad;
  /* width: 100%;
  height: 60%; */
  margin: 2px;
  margin-top: 10px;
  display: grid;
  grid:
    'num-grid operator-grid' 100%
    / 80% 20fr;
  /* grid-gap: 16px; */
}
/* #main-container {
  width: 40%;
  height: 80%;
  border: 1px solid black;
  padding: 20px;
} */
/* #result-screen {
  width: 100%;
  height: 30%;
  border: 1px solid black;
  margin: 2px;
} */
/* #clr-grid {
  width: 100%;
  height: 10%;
  margin: 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 16px;
  justify-content: center;
} */
/* #main-grid {
  width: 100%;
  height: 60%;
  margin: 2px;
  display: grid;
  grid:
    'num-grid operator-grid' 100%
    / 80% 20fr;
  grid-gap: 16px;
} */
#num-grid {
  /* width: 80%;
  height: 80%; */
  /* margin: 10px; */
  grid-area: num-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  /* grid-gap: 16px; */
  justify-content: center;
}
#operator-grid {
  /* width: 20%;
  height: 80%; */
  /* margin: 10px; */
  grid-area: operator-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  /* grid-gap: 16px; */
  justify-content: center;
}
button {
  border: none;
  border-radius: 5px;
  transition: all 0.07s ease;
}
.button-hit {
  transform: scale(1.1);
}
.numInput,
.opKeys {
  width: 55px;
  height: 55px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;

  background: rgba(65, 117, 5, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.clrKeys {
  background: rgba(208, 2, 27, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}

@media only screen and (max-width: 1080px) {
  .parentGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
  }
}
